.restForm {
  display: flex;
  align-items: center; /* flex-direction: row; */
  gap: 1rem;
  min-width: 485px;
}

.priceSelect {
  height: 37px;
  border-radius: 6px;
  width: 100%;
  border: 1px solid rgb(203, 201, 201);
}

.formBtn {
  height: 3rem;
  width: 4rem;
  border-radius: 5px;
}

/* .whole_container {
  width: 100%;
} */

/* Title */

.nav-title {
  display: flex;
  justify-content: center;
}

/* ***** RestaurantList ***** */

.formNames {
  background-color: #0d6efd !important;
}

.rest_btn {
  cursor: pointer;
}

/* ***** UpdateRestaurantList ***** */

.update_rest_form div {
  margin: 1rem 0;
}

.update_rest_form label {
  margin-bottom: 0.2rem;
}

/* ***** Reviews ***** */
.card_review {
  margin: 0 0.7rem;
}

/* ***** Reviews ***** */

.review_form div:nth-child(1) {
  margin-right: 1rem;
}
.review_form div:nth-child(2) {
  flex: 1;
}

.review_form div {
  margin: 0.7rem 0;
}

.review_form_cont label {
  margin-bottom: 0.4rem;
}

.review_form_cont button {
  margin-top: 1rem;
}

/* Responsive */

@media (max-width: 535px) {
  .font-size td {
    font-size: 0.9rem;
    padding: 5px 3px;
  }

  .cont {
    padding: 0px;
  }
}

@media (max-width: 385px) {
}

@media (max-width: 400px) {
  .table tbody td:nth-child(n + 2):nth-child(-n + 3) {
    display: none;
  }
  .table thead th:nth-child(n + 2):nth-child(-n + 3) {
    display: none;
  }

  .restForm {
    min-width: 340px;
  }
}
